.button-class {
  background-color: grey;
  border: none;
  opacity: 60%;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}
.flex {
  display: flex;
  justify-content: center;
}
.box {
  text-align: center;
  margin: 0% 5%;
  background-color: #e6e3e3;
}
.boxmain {
  text-align: center;
  padding: 0% 5%;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
  max-width: 100%;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Roboto', sans-serif;
  background-color: #F2F2F2;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.navigation {
  display: flex;
  justify-content: space-between;
  padding: 0.6% 0%;
}
.navigation i {
  width: 75%;
  font-size: 6rem;
  margin-left: 2%;
}
.navigation .links {
  width: 40%;
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding-right: 2%;
  padding-top: 1%;
}
.navigation .links a {
  font-size: 1.7rem;
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.navigation .links a:hover {
  transition-duration: 0.4s;
  font-size: 1.85rem;
  color: #666666;
}
@media (max-width: 500px) {
  .navigation .links {
    width: 200%;
    padding-top: 4%;
  }
}
.home {
  background-image: url(https://images.pexels.com/photos/841128/pexels-photo-841128.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
  background-position: 50% 50%;
  background-size: cover;
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.home h1 {
  font-size: 7rem;
  font-weight: bold;
  color: white;
  margin-bottom: 5%;
}
.home button {
  background-color: grey;
  border: none;
  opacity: 60%;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}
.home button:hover {
  opacity: 100;
}
@media (max-width: 500px) {
  .home h1 {
    text-align: center;
  }
}
.middle {
  background-image: url(https://images.pexels.com/photos/791763/pexels-photo-791763.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  background-position: 50% 50%;
  background-size: 80%;
  background-repeat: no-repeat;
  opacity: 70%;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.middle h1 {
  font-size: 4rem;
  font-weight: bolder;
  color: #ff7373;
}
@media (max-width: 500px) {
  .middle h1 {
    font-size: 2.2rem;
  }
}
.main {
  margin: 6% 2%;
}
.main h1 {
  text-align: center;
  margin-bottom: 6%;
  font-weight: bolder;
  margin-left: 40%;
  margin-right: 40%;
  padding: 2% 0%;
  border-top: solid black 0.3rem;
  border-bottom: solid black 0.3rem;
  letter-spacing: 1rem;
}
.main h1:hover {
  border-top: solid black 0.3rem;
  border-bottom: solid black 0.3rem;
  letter-spacing: 0.5rem;
  margin-left: 35%;
  margin-right: 35%;
  transition-duration: 0.6s;
}
.main h3 {
  font-size: 2rem;
  margin: 10% 0%;
  font-weight: bold;
  letter-spacing: 0.3rem;
}
.main p {
  line-height: 220%;
}
.main i {
  font-size: 7rem;
}
.main .tools {
  display: flex;
  justify-content: space-between;
}
.main .tools #one {
  text-align: center;
  padding: 0% 5%;
}
.main .tools #two {
  text-align: center;
  padding: 0% 5%;
}
.main .tools #three {
  text-align: center;
  padding: 0% 5%;
}
@media (max-width: 500px) {
  .main h1 {
    font-size: 2.7rem;
    margin-bottom: 6%;
    border-top: solid black 0.3rem;
    border-bottom: solid black 0.3rem;
    letter-spacing: 0.5rem;
    margin-left: 35%;
    margin-right: 35%;
  }
  .main .tools {
    display: flex;
    flex-direction: column;
    margin: 8% 0%;
  }
  .main .tools #one {
    margin-bottom: 10%;
  }
  .main .tools #two {
    margin-bottom: 10%;
  }
  .main .tools #three {
    margin-bottom: 10%;
  }
}
.second {
  margin: 6% 2%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.second button {
  background-color: grey;
  border: none;
  opacity: 60%;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  margin-top: 4%;
}
.second button:hover {
  opacity: 100;
}
.second a {
  margin-top: 4%;
}
.second .testimonials {
  display: flex;
  justify-content: space-between;
  width: 80%;
}
.second .testimonials #four {
  text-align: center;
  margin: 0% 5%;
  background-color: #e6e3e3;
}
.second .testimonials #five {
  text-align: center;
  margin: 0% 5%;
  background-color: #e6e3e3;
}
.second .testimonials #six {
  text-align: center;
  margin: 0% 5%;
  background-color: #e6e3e3;
}
@media (max-width: 500px) {
  .second .testimonials {
    display: flex;
    flex-direction: column;
  }
  .second .testimonials #four {
    margin-bottom: 3%;
  }
  .second .testimonials #five {
    margin-bottom: 3%;
  }
  .second .testimonials #six {
    margin-bottom: 6%;
  }
}
footer {
  text-align: center;
  background-color: #69868C;
  padding-top: 1.5%;
}
footer p {
  color: #F2F2F2;
  font-size: 1.4rem;
  padding-bottom: 1%;
}
.about {
  background-image: url(https://images.pexels.com/photos/949131/pexels-photo-949131.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
  background-position: 50% 30%;
  height: 40vh;
}
.us .us_two {
  justify-content: center;
  flex-wrap: wrap;
  width: 55%;
}
.us .us_two i {
  font-size: 5rem;
  color: black;
  margin-bottom: 6%;
  opacity: 50%;
  transition-duration: 1s;
}
.us .us_two i:hover {
  opacity: 100%;
}
.us .us_two #four {
  margin: 4% 3%;
  width: 26%;
}
@media (max-width: 500px) {
  .us .us_two {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .us .us_two #four {
    width: 100%;
  }
}
